#tgl{    
    margin-right: 5rem;
    width:3rem;
    padding:0rem;
    border: none;
    height:2rem;
    right:2rem;
    top:4.8rem;
    margin-top:3rem;
    position:absolute;
}
img{
    background-size: cover;
    padding: 0rem;
    margin:0rem;
    border:none;
}

@media (max-width: 700px) {
   
#tgl{
    right:-4rem;
}
}

@media(max-width: 424px){
    #tgl{
        top:8.4rem;
        left: 43%;
    }
}
