#tgl{    
    margin-right: 5rem;
    width:3rem;
    padding:0rem;
}
img{
    background-size: cover;
    padding: 0rem;
    margin:0rem;
}

@media (max-width: 450px) {
    #tgl{
    margin-top: -2.5rem;
}
}